################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CBLAS/v16
/CBLAS/CBLAS.vcxproj.user
/CBLAS/CBLAS.vcxproj.filters
/CBLAS/CBLAS.vcxproj
/.vs
/CBLAS/Debug
/Debug
